@import "../node_modules/@hazae41/labase/src/index.css";

/* body {
  --safe-area-inset-top: 32px;
  --safe-area-inset-left: 32px;
  --safe-area-inset-right: 32px;
  --safe-area-inset-bottom: 32px;
} */

@theme {
  --breakpoint-xs: 20rem;
}